@id("1")
forbid
(
 principal,
 action in [TestPolicy::Action::"Share",TestPolicy::Action::"HEAD",TestPolicy::Action::"Compare"],
 resource in TestPolicy::Application::"Application"
)
;